In [1]:
# Dependencies and Setup
import pandas as pd
from pathlib import Path

# File to Load 
scores = Path("output_data/nfl2.csv")

score_data = pd.read_csv(scores)

score_data

,Unnamed: 0,schedule_date,schedule_season,schedule_week,schedule_playoff,team_home,score_home,score_away,team_away,team_favorite_id,spread_favorite,over_under_line,stadium,stadium_neutral,weather_temperature,weather_wind_mph,weather_humidity,weather_detail
0,10809,9/5/2013,2013,1,False,DEN,49,27,BAL,DEN,-7.5,49.5,Sports Authority Field at Mile High,False,83.0,7.0,30.0,NaN
1,10810,9/8/2013,2013,1,False,BUF,21,23,NE,NE,-10.5,51.5,Ralph Wilson Stadium,False,65.0,6.0,55.0,NaN
2,10811,9/8/2013,2013,1,False,CAR,7,12,SEA,SEA,-3.5,45.0,Bank of America Stadium,False,87.0,7.0,48.0,NaN
3,10812,9/8/2013,2013,1,False,CHI,24,21,CIN,CHI,-3.0,42.0,Soldier Field,False,77.0,13.0,79.0,NaN
4,10813,9/8/2013,2013,1,False,CLE,10,23,MIA,CLE,-2.5,40.5,FirstEnergy Stadium,False,72.0,16.0,80.0,NaN
...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...
2702,13511,1/22/2023,2022,Division,True,BUF,10,27,CIN,BUF,-6.0,48.5,Highmark Stadium,False,32.0,4.0,100.0,snow
2703,13512,1/22/2023,2022,Division,True,SF,19,12,DAL,SF,-3.5,46.5,Levi's Stadium,False,55.0,19.0,47.0,NaN
2704,13513,1/29/2023,2022,Conference,True,KC,23,20,CIN,KC,-1.5,48.0,GEHA Field at Arrowhead Stadium,False,22.0,13.0,55.0,NaN
2705,13514,1/29/2023,2022,Conference,True,PHI,31,7,SF,PHI,-2.5,45.5,Lincoln Financial Field,False,52.0,14.0,48.0,rain
2706,13515,2/12/2023,2022,Superbowl,True,PHI,35,38,KC,PHI,-1.0,51.0,State Farm Stadium,True,76.0,8.0,8.0,retractable (open roof)

In [2]:
# Get the index of the 'team_favorite_id' column
favorite_id_index = score_data.columns.get_loc('team_favorite_id')

# Remove the 'favorite_win' column if it already exists
if 'favorite_win' in score_data.columns:
    score_data = score_data.drop('favorite_win', axis=1)

# Insert the 'favorite_win' column after the 'team_favorite_id' column
score_data.insert(favorite_id_index + 1, 'favorite_win', '')

# Iterate through each row in the DataFrame
for index, row in score_data.iterrows():
    score_home = row['score_home']
    score_away = row['score_away']
    team_home = row['team_home']
    team_away = row['team_away']
    team_favorite_id = row['team_favorite_id']
    
    # Compare scores and team names
    if score_home > score_away:
        if team_home == team_favorite_id:
            score_data.loc[index, 'favorite_win'] = 1
        else:
            score_data.loc[index, 'favorite_win'] = 0
    else:
        if team_away == team_favorite_id:
            score_data.loc[index, 'favorite_win'] = 1
        else:
            score_data.loc[index, 'favorite_win'] = 0

score_data

,Unnamed: 0,schedule_date,schedule_season,schedule_week,schedule_playoff,team_home,score_home,score_away,team_away,team_favorite_id,favorite_win,spread_favorite,over_under_line,stadium,stadium_neutral,weather_temperature,weather_wind_mph,weather_humidity,weather_detail
0,10809,9/5/2013,2013,1,False,DEN,49,27,BAL,DEN,1,-7.5,49.5,Sports Authority Field at Mile High,False,83.0,7.0,30.0,NaN
1,10810,9/8/2013,2013,1,False,BUF,21,23,NE,NE,1,-10.5,51.5,Ralph Wilson Stadium,False,65.0,6.0,55.0,NaN
2,10811,9/8/2013,2013,1,False,CAR,7,12,SEA,SEA,1,-3.5,45.0,Bank of America Stadium,False,87.0,7.0,48.0,NaN
3,10812,9/8/2013,2013,1,False,CHI,24,21,CIN,CHI,1,-3.0,42.0,Soldier Field,False,77.0,13.0,79.0,NaN
4,10813,9/8/2013,2013,1,False,CLE,10,23,MIA,CLE,0,-2.5,40.5,FirstEnergy Stadium,False,72.0,16.0,80.0,NaN
...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...
2702,13511,1/22/2023,2022,Division,True,BUF,10,27,CIN,BUF,0,-6.0,48.5,Highmark Stadium,False,32.0,4.0,100.0,snow
2703,13512,1/22/2023,2022,Division,True,SF,19,12,DAL,SF,1,-3.5,46.5,Levi's Stadium,False,55.0,19.0,47.0,NaN
2704,13513,1/29/2023,2022,Conference,True,KC,23,20,CIN,KC,1,-1.5,48.0,GEHA Field at Arrowhead Stadium,False,22.0,13.0,55.0,NaN
2705,13514,1/29/2023,2022,Conference,True,PHI,31,7,SF,PHI,1,-2.5,45.5,Lincoln Financial Field,False,52.0,14.0,48.0,rain
2706,13515,2/12/2023,2022,Superbowl,True,PHI,35,38,KC,PHI,0,-1.0,51.0,State Farm Stadium,True,76.0,8.0,8.0,retractable (open roof)

In [3]:
# Get the index of the 'favorite_win' column
favorite_win_index = score_data.columns.get_loc('favorite_win')

# Insert the 'home_win' column after the 'favorite_win' column
score_data.insert(favorite_win_index + 1, 'home_win', '')

# Iterate through each row in the DataFrame
for index, row in score_data.iterrows():
    score_home = row['score_home']
    score_away = row['score_away']
    
    # Compare scores and set 'home_win' value
    if score_home > score_away:
        score_data.loc[index, 'home_win'] = 1
    else:
        score_data.loc[index, 'home_win'] = 0
        
score_data

,Unnamed: 0,schedule_date,schedule_season,schedule_week,schedule_playoff,team_home,score_home,score_away,team_away,team_favorite_id,favorite_win,home_win,spread_favorite,over_under_line,stadium,stadium_neutral,weather_temperature,weather_wind_mph,weather_humidity,weather_detail
0,10809,9/5/2013,2013,1,False,DEN,49,27,BAL,DEN,1,1,-7.5,49.5,Sports Authority Field at Mile High,False,83.0,7.0,30.0,NaN
1,10810,9/8/2013,2013,1,False,BUF,21,23,NE,NE,1,0,-10.5,51.5,Ralph Wilson Stadium,False,65.0,6.0,55.0,NaN
2,10811,9/8/2013,2013,1,False,CAR,7,12,SEA,SEA,1,0,-3.5,45.0,Bank of America Stadium,False,87.0,7.0,48.0,NaN
3,10812,9/8/2013,2013,1,False,CHI,24,21,CIN,CHI,1,1,-3.0,42.0,Soldier Field,False,77.0,13.0,79.0,NaN
4,10813,9/8/2013,2013,1,False,CLE,10,23,MIA,CLE,0,0,-2.5,40.5,FirstEnergy Stadium,False,72.0,16.0,80.0,NaN
...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...
2702,13511,1/22/2023,2022,Division,True,BUF,10,27,CIN,BUF,0,0,-6.0,48.5,Highmark Stadium,False,32.0,4.0,100.0,snow
2703,13512,1/22/2023,2022,Division,True,SF,19,12,DAL,SF,1,1,-3.5,46.5,Levi's Stadium,False,55.0,19.0,47.0,NaN
2704,13513,1/29/2023,2022,Conference,True,KC,23,20,CIN,KC,1,1,-1.5,48.0,GEHA Field at Arrowhead Stadium,False,22.0,13.0,55.0,NaN
2705,13514,1/29/2023,2022,Conference,True,PHI,31,7,SF,PHI,1,1,-2.5,45.5,Lincoln Financial Field,False,52.0,14.0,48.0,rain
2706,13515,2/12/2023,2022,Superbowl,True,PHI,35,38,KC,PHI,0,0,-1.0,51.0,State Farm Stadium,True,76.0,8.0,8.0,retractable (open roof)

In [4]:
# Seperate columns needed
clean_score_data = score_data[["schedule_season", "schedule_week", "team_home", "score_home", "score_away", "team_away", "team_favorite_id", "favorite_win", "home_win"]].copy()

clean_score_data

,schedule_season,schedule_week,team_home,score_home,score_away,team_away,team_favorite_id,favorite_win,home_win
0,2013,1,DEN,49,27,BAL,DEN,1,1
1,2013,1,BUF,21,23,NE,NE,1,0
2,2013,1,CAR,7,12,SEA,SEA,1,0
3,2013,1,CHI,24,21,CIN,CHI,1,1
4,2013,1,CLE,10,23,MIA,CLE,0,0
...,...,...,...,...,...,...,...,...,...
2702,2022,Division,BUF,10,27,CIN,BUF,0,0
2703,2022,Division,SF,19,12,DAL,SF,1,1
2704,2022,Conference,KC,23,20,CIN,KC,1,1
2705,2022,Conference,PHI,31,7,SF,PHI,1,1
2706,2022,Superbowl,PHI,35,38,KC,PHI,0,0

In [5]:
# Export the score_data_filtered into a csv
clean_score_data.to_csv("output_data/nfl_favorite.csv")

In [6]:
# Calculate the sum of the column values
column_sum = clean_score_data['favorite_win'].sum()

# Calculate the average by dividing the sum by the number of rows
average = column_sum / len(clean_score_data) * 100

# Round the average to two decimal places
average_rounded = round(average, 2)

# Print the average with two decimal places
print("Average:", average_rounded)

Average: 65.79

In [7]:
# Calculate the sum of the column values
column_sum = clean_score_data['home_win'].sum()

# Calculate the average by dividing the sum by the number of rows
average2 = column_sum / len(clean_score_data) * 100

# Round the average to two decimal places
average2_rounded = round(average2, 2)

# Print the average with two decimal places
print("Average:", average2_rounded)

Average: 55.49

In [8]:
# Count the number of 0s in the 'favorite_win' column
count_zero = clean_score_data['favorite_win'].value_counts()[0]

# Print the count
print("Count of 0s:", count_zero)

Count of 0s: 926

In [9]:
# Underdog win percentage
average3 = count_zero / len(clean_score_data) * 100

# Round the average to two decimal places
average3_rounded = round(average3, 2)

# Print the average with two decimal places
print("Average:", average3_rounded)

Average: 34.21

In [10]:
# Rename multiple columns
clean_score_data = clean_score_data.rename(columns={'schedule_season': 'Year', "schedule_week": "Week", "team_home": "Home Team", "score_home": "Home Team Score", "score_away": "Away Team Score", "team_away": "Away Team", "team_favorite_id": "Favoured Team", "favorite_win": "Favoured Winner", "home_win": "Home Winner"})

# Display the updated DataFrame
clean_score_data

,Year,Week,Home Team,Home Team Score,Away Team Score,Away Team,Favoured Team,Favoured Winner,Home Winner
0,2013,1,DEN,49,27,BAL,DEN,1,1
1,2013,1,BUF,21,23,NE,NE,1,0
2,2013,1,CAR,7,12,SEA,SEA,1,0
3,2013,1,CHI,24,21,CIN,CHI,1,1
4,2013,1,CLE,10,23,MIA,CLE,0,0
...,...,...,...,...,...,...,...,...,...
2702,2022,Division,BUF,10,27,CIN,BUF,0,0
2703,2022,Division,SF,19,12,DAL,SF,1,1
2704,2022,Conference,KC,23,20,CIN,KC,1,1
2705,2022,Conference,PHI,31,7,SF,PHI,1,1
2706,2022,Superbowl,PHI,35,38,KC,PHI,0,0

In [62]:
week_fave = clean_score_data.groupby(['Week'], sort=True)['Favoured Winner'].sum()
week_fave

Week
1             101
10             76
11            100
12            108
13            102
14            108
15            114
16            105
17            119
18             22
2             102
3              93
4              92
5              96
6              88
7              98
8              98
9              83
Conference     14
Division       29
Superbowl       5
Wildcard       28
Name: Favoured Winner, dtype: object

In [63]:
week_home = clean_score_data.groupby(['Week'], sort=True)['Home Winner'].sum()
week_home

Week
1             81
10            76
11            77
12            89
13            81
14            90
15            80
16            94
17            90
18            19
2             96
3             89
4             76
5             80
6             74
7             83
8             81
9             75
Conference    16
Division      29
Superbowl      3
Wildcard      23
Name: Home Winner, dtype: object

In [66]:
# Merge, sort values
merged_week = pd.merge(week_fave, week_home, on='Week')

print(merged_week)

           Favoured Winner Home Winner
Week
1                      101          81
10                      76          76
11                     100          77
12                     108          89
13                     102          81
14                     108          90
15                     114          80
16                     105          94
17                     119          90
18                      22          19
2                      102          96
3                       93          89
4                       92          76
5                       96          80
6                       88          74
7                       98          83
8                       98          81
9                       83          75
Conference              14          16
Division                29          29
Superbowl                5           3
Wildcard                28          23

In [11]:
# Get unique values from the "schedule_week" column
unique_values = clean_score_data["Week"].unique()

# Print the unique values
for value in unique_values:
    print(value)

1
2
3
4
5
6
7
8
9
10
11
12
13
14
15
16
17
Wildcard
Division
Conference
Superbowl
18

In [12]:
clean_score_data.groupby(["Week"]).count()

,Year,Home Team,Home Team Score,Away Team Score,Away Team,Favoured Team,Favoured Winner,Home Winner
Week,,,,,,,,
1,159,159,159,159,159,159,159,159
10,138,138,138,138,138,138,138,138
11,141,141,141,141,141,141,141,141
12,153,153,153,153,153,153,153,153
13,155,155,155,155,155,155,155,155
14,155,155,155,155,155,155,155,155
15,160,160,160,160,160,160,160,160
16,160,160,160,160,160,160,160,160
17,159,159,159,159,159,159,159,159
18,32,32,32,32,32,32,32,32
2,160,160,160,160,160,160,160,160
3,160,160,160,160,160,160,160,160
4,151,151,151,151,151,151,151,151
5,147,147,147,147,147,147,147,147
6,144,144,144,144,144,144,144,144
7,143,143,143,143,143,143,143,143
8,141,141,141,141,141,141,141,141
9,133,133,133,133,133,133,133,133
Conference,20,20,20,20,20,20,20,20
Division,40,40,40,40,40,40,40,40
Superbowl,10,10,10,10,10,10,10,10
Wildcard,46,46,46,46,46,46,46,46